BODY {background: #F0F0F0;
      color: #000000}

A {font-style: italic}
A:link {color: #0000FF; 
        background-color: inherit}
A:visited {color: #00AA00;
           background-color: inherit}
A:active {color: #000000;
          background-color: inherit}

.quote {font-style: italic}

TABLE {border-collapse: collapse;
       empty-cells: show;
       width: 100%}
TD {border: 1px solid #000000;
    padding: .4em}

