body
  { 
    width: 780px;
    padding-left: 10px;
    padding-top: 10px;
    font-family: helvetica, sans-serif;
    font-size: 20pt;
  }

.centered
{
  margin-left: auto;
  margin-right: auto;
}

h1
  { 
    font-size: 28pt;
    font-weight: bold;
    font-style: italic;
    color: #2B2B84;
  }

em
  { 
    font-weight: bold;
    font-style: normal;
  }

div.title
  {
    color: #3838AA;
    font-size: 30pt;
    font-weight: bold;
  }

div.subtitle
  {
    color: #3838AA;
    font-size: 20pt;
    font-weight: bold;
  }

div.subsubtitle
  {
    margin-top: 10px;
    color: #3838AA;
    font-size: 16pt;
  }

div.heading
  { 
    color: #3838AA;
    font-size: 16pt;
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #7f7f7f;
  }

div.important
  {
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
    width: 400px;
    text-align: left;
    background-color: #FFF9B9;
    font-size: 14pt;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: #C00000;
  }

span.hdl-em
  {  
    color: #20040a;
  }

div.content
  {
    height: 400px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #7f7f7f;
  }

div.title-area
  {
    margin-bottom: 50px;
  }

div.title-page-content
  {
    font-size: 18pt;
    padding-bottom: 5px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #7f7f7f;
  }

ul.top-level
  {
    list-style-image: url("../images/arrow_large.png");
  }

ul.sub-level
  {
    list-style-image: url("../images/arrow_small_14.png");
  }


li
  { 
    margin-top: 10px;
  }

span.annotation
  {
    font-size: 14pt;
  }

table.table
  {
    border-collapse: collapse;
    border-spacing: 0pt;
  }

table.table td
  {
    border-style: solid;
    border-width: 1pt;
    padding: 4px 4px 4px 4px;
  }

table.table thead
  {
    font-weight: bold;
    text-align: center;
  }

table.table a
  {
    text-decoration: none;
  }